<div class="Social">
  <div class="Social-icon">
    <a href="{{ .Site.Params.socialInstagram }}" target="_blank">
    {{ partial "svg/instagram.html" . }}
    </a>
  </div>
  <div class="Social-icon">
  <a href="{{ .Site.Params.socialTwitter }}" target="_blank">
    {{ partial "svg/twitter.html" . }}
  </a>
  </div>
  <div class="Social-icon">
  <a href="{{ .Site.Params.socialPintrest }}" target="_blank">
    {{ partial "svg/pintrest.html" . }}
  </a>
  </div>
  <div class="Social-icon">
  <a href="{{ .Site.Params.socialBehance }}" target="_blank">
    {{ partial "svg/behance.html" . }}
  </a>
  </div>
</div>
