{{ define "main" }}

  <section class="Hero">
    <h1 class="Hero-title">Free, Premium and Custom Fonts.</h1>
  </section>

  <section class="Container">
    <div class="PostList Grid Grid--3">
    {{ $fonts := (where .Site.RegularPages "Section" "==" "fonts") }}
    {{ range first 3 $fonts }}
      <article class="PostListItem">
        <div class="PostListItem-image">
          <div class="PostListItem-imageRatio">
            <a href="{{ .Permalink }}">
              <img
                data-src="{{ .Site.Params.cloudinary_url }}/w_auto,dpr_auto,c_scale/{{ .Params.listimage }}"
                class="cld-responsive Lightbox lazyload">
            </a>
          </div>
        </div>
        <h3 class="PostListItem-title">
            <a href="{{ .Permalink }}">{{ .Title }}</a>
        </h3>
    </article>
    {{ end }}
    </div>
  </section>

{{end}}
