{{ define "main" }}

  <section class="Hero">
    <h1 class="Hero-title">{{ .Title }}</h1>
  </section>

  <section class="grid">
    {{ $fonts := (where .Site.RegularPages "Section" "==" "fonts") }}
    {{ range first 3 $fonts }}
      <article>
        <a href="{{ .Permalink }}">
          <figure>
            <div class="aspect-ratio-square">
              <img
                data-src="{{ .Site.Params.cloudinary_url }}/w_auto,dpr_auto,c_scale/{{ .Params.listimage }}"
                class="lazyload">
            </div>
          </figure>
          <h2 class="h3 mt20">{{ .Title }}</h2>
        </a>
      </article>
    {{ end }}
  </section>

{{end}}