<footer class="Footer">
    <div class="Flex-row">
        <div class="Flex-column">
            {{ partial "social.html" . }}
        </div><!-- /.Flex-column -->
        <div class="Flex-column u-tr">
            <nav class="Footer-nav">
                {{ $currentPage := . }}
                {{ range .Site.Menus.footer }}
                <a class="Footer-link{{if or ($currentPage.IsMenuCurrent "footer" .) ($currentPage.HasMenuCurrent "footer" .) }} active{{end}}" href="{{.URL}}">{{ .Name }}</a>
                {{ end }}
            </nav>
        </div><!-- /.Flex-column -->
    </div><!-- /.Flex-row -->
</footer>
