<div class="Social">
  <div class="Social-icon">
    <a href="{{ .Site.Params.socialInstagram }}" target="_blank" rel="noopener noreferrer">
      <span class="visually-hidden">Instagram</span>
    {{ partial "svg/instagram.html" . }}
    </a>
  </div>
  <div class="Social-icon">
  <a href="{{ .Site.Params.socialPintrest }}" target="_blank" rel="noopener noreferrer">
    <span class="visually-hidden">Pintrest</span>
    {{ partial "svg/pintrest.html" . }}
  </a>
  </div>
  <div class="Social-icon">
  <a href="{{ .Site.Params.socialBehance }}" target="_blank" rel="noopener noreferrer">
    <span class="visually-hidden">Behance</span>
    {{ partial "svg/behance.html" . }}
  </a>
  </div>
</div>
