/*------------------------------------*\
    #OBJECTS: FORM
\*------------------------------------*/

/**
 * Component Block
 */


label {
  display: block;
  margin-bottom: .5rem;
}

::placeholder {
  color: $color-lighter;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  background: $color-lightest;
  border: solid 2px $color-lightest;
  border-radius: 0;
  padding: 1rem;
  outline: none;
  outline-style: none;
  position: relative;
  width: 100%;
  -webkit-appearance: none;

  &:focus,
  &:active {
    border: 2px solid $color-link;
    outline: 4px solid lighten($color-link, 70%);
    outline-offset: 0;
  }

}

select {
  background: $color-lightest;
  border: 0;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline-style: none;
  height: 64px;
  width: 100%;

  &:after {
    color: #000;
    content: '▾';
    display: block;
    height: 14px;
    position: absolute;
    right: 24px;
    top: 16px;
    width: 14px;

  }

}

textarea {
  min-height: 96px;
}