{{ define "main" }}

  <section class="Container">
      <div class="PostList Grid Grid--3">
        {{ range .Data.Pages }}
          {{ if isset .Params "featuredimage" }}
          <div class="PostListItem">
              <div class="PostListItem-image">
                <div class="PostListItem-imageRatio">
                  <a href="{{ .Permalink }}">
                    <img
                      data-src="{{ .Site.Params.cloudinary_url }}/w_auto,dpr_auto,c_scale/{{ .Params.listimage }}"
                      class="cld-responsive Lightbox lazyload">
                  </a>
                </div>
              </div>
              <h3 class="PostListItem-title">
                  <a href="{{ .Permalink }}">{{ .Title }}</a>
              </h3>
              {{else}}
              <h3 class="PostHeader-title">
                  <a href="{{ .Permalink }}">{{ .Title }}</a>
              </h3>
              {{ end }}
          </div>
        {{ end }}
      </div>
  </section>

{{ end }}
