{{ define "main" }}

  <section class="Container">
      <article class="Post" id="content">
          <header class="PostHeader">
            <h1 class="PostHeader-title">{{ .Title }}</h1>
            <!-- If external link exists in post matter, else show post page-->
            <!--{{ if isset .Params "featuredimage" }}
            <div class="Image">
              <img
                data-src="{{ .Site.Params.cloudinary_url }}/w_auto,dpr_auto,c_scale/{{ .Params.featuredimage }}"
                class="cld-responsive Lightbox">
            </div>
            {{else}}
            <h1 class="PostHeader-title">{{ .Title }}</h1>
            {{ end }}-->
          </header>

          {{ .Content }}

      </article><!--/.Content -->
  </section><!--/.Container -->

{{ end }}
