/*------------------------------------*\
    #OBJECTS: BUTTON
\*------------------------------------*/

.Button-container {
  @include margin-top(2);
  @include margin-bottom(2);
}

/**
 * Component Block
 */

.Button {
  background: $color-dark;
  color: $color-white;
  text-decoration: none;
  height: 48px;
  line-height: 50px;
  padding: 16px;

  &:hover {
    color: $color-white;
    text-decoration: none;
  }
}

.Button {
  width: 140px;
  height: 50px;
  font-weight: 500;
  color: #fff;
  background-color: #000;
  border: none;
  box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease 0s;
  cursor: pointer;
  outline: none;
  -webkit-font-smoothing: antialiased;
  }

.Button:hover {
  background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}
