/*------------------------------------*\
    #OBJECTS: BUTTON
\*------------------------------------*/

.Button-container {
  @include margin-top(2);
  @include margin-bottom(2);
}

/**
 * Component Block
 */

.Button {
  background: $color-dark;
  border: 0;
  color: $color-white;
  cursor: pointer;
  font-family: $font-system-mn;
  font-size: 80%;
  height: 64px;
  outline: none;
  padding: 16px 24px;
  text-align: left;
  text-decoration: none;
  transition: all 0.2s ease 0s;
  -webkit-font-smoothing: antialiased;
  width: 100%;

  &:hover {
    color: $color-white;
    text-decoration: none;
  }
}

.Button:hover {
  background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  //transform: translateY(-7px);
}
