/*------------------------------------*\
    #COMPONENTS: FOOTER
\*------------------------------------*/


/**
 * Component Block
 */

.Footer {
  padding: 7%;
}

.Footer-nav {
  display: none;
}

@include breakpoint(sm) {
 .Footer-nav {
   display: block
 }
}

.Footer-link {
  margin-right: 16px;
}
