/*------------------------------------*\
    #COMPONENTS: HERO
\*------------------------------------*/


/**
 * Component Block
 */

.Hero {
  display: block;
  margin: 0 auto;
  max-width: 1440px;
  overflow: hidden;
  @include margin-top(2);
  white-space: nowrap;
}

.Hero-title {
  font-size: calc(9rem + 10vw);
  height: 200px;
  margin-top: 0;
  /* Hide the text to scroll*/
  padding-left: 100%;
  animation: scroll 20s infinite linear;
}

 /* Make the text scroll*/
 @keyframes scroll {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-800%, 0);
  }
}

@include breakpoint(md) {
  .Hero-title {
    height: 300px;
  }
  /* Make the text scroll*/
  @keyframes scroll {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(-450%, 0);
    }
  }
}
