/*------------------------------------*\
    #COMPONENTS: FOOTER
\*------------------------------------*/


/**
 * Component Block
 */

.Footer {
  margin: 0 auto;
  max-width: 1200px;
  padding: 7% 3% 7% 3%;
}

.Footer-nav {
  display: none;
}

@include breakpoint(sm) {
 .Footer-nav {
   display: block
 }
}

.Footer-link {
  margin-right: 16px;
}
