/*------------------------------------*\
    #COMPONENTS: POST
\*------------------------------------*/


/**
 * Component Block
 */

 //.Post {}

.Post {

  a {
    text-decoration: none;
    border-bottom: solid 1px $color-link;

    &:hover {
      color: $color-link-hover;
      border-bottom: solid 1px $color-link-hover;
    }
  }
}
