/*------------------------------------*\
    #COMPONENTS: HEADER
\*------------------------------------*/


/**
 * Component Block
 */

//.Header {}

.Header-title {
  font-weight: 500;
  font-size: 140%;
}

.Header-nav {
  display: none;
}

@include breakpoint(sm) {
 .Header-nav {
   display: block
 }
}

.Header-link {
  display: inline;
  margin-left: 16px;
}
