/*------------------------------------*\
    #LAYOUTS: POST LIST
\*------------------------------------*/

/**
* Component Block
*/


.PostList {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
}

@include breakpoint(sm) {
  .PostList {
    grid-template-columns: 1fr 1fr;
  }
}

@include breakpoint(ml) {
  .PostList {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
