/*------------------------------------*\
    #LAYOUTS: GRID
\*------------------------------------*/

/**
* Component Block
*/


.Grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
}

@include breakpoint(sm) {
  .Grid {
    grid-template-columns: 1fr 1fr;
  }
}

@include breakpoint(ml) {
  .Grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .Grid--3 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
