/*------------------------------------*\
    #COMPONENTS: MOBILE MENU
\*------------------------------------*/

/**
 * Component Block
 */

.Mobile-menu {
  background: $color-white;
  border-left: solid 1px $color-dark;
  display: none;
	position: absolute;
	top: 0;
	right: 0;
	width: 320px;
  height: 10000px;
  padding-top: 28px;
  z-index: 1; /* Make sure the z-index is lower than the .page-container */
}

.Mobile-menu-link {
  color: $color-dark;
  display: block;
  @include margin-top(1);
  @include margin-left(2);
  max-width: 170px;
}

.Main {
  background: $color-white;
  position: relative;
	transform: translate3d( 0, 0, 0 ); /* X, Y, Z */
 	-webkit-transform: translate3d( 0, 0, 0 );
  z-index: 2;
}

.Main, .Mobile-menu {
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  overflow: hidden;
}


/* Animating mobile menu */

/* Show the menu when animating or visible */
.animating .Mobile-menu, .menu-visible .Mobile-menu {
  display: block;
}

/***
 * If the animating class is present then apply
 * the CSS transition to .page-container over 250ms.
 */
.animating .Main {
  transition: transform .25s ease-in-out;
  -webkit-transition: -webkit-transform .25s ease-in-out;
}

/***
 * If the left class is present then transform
 * the .page-container element 240px to the left.
 */
.animating.left .Main {
  transform: translate3d( -380px, 0, 0 );
  -webkit-transform: translate3d( -320px, 0, 0 );
}

/***
 * If the right class is present then transform
 * the .page-container element 240px to the right.
 */
.animating.right .Main {
  transform: translate3d( 320px, 0, 0 );
  -webkit-transform: translate3d( 320px, 0, 0 );
}

/***
 * If the menu-visible class is present then
 * shift the .page-container 240px from the right edge
 * via position: absolute to keep it in the
 * open position. When .animating, .left and
 * .right classes are not present the CSS
 * transform does not apply to .page-container.
 */
.menu-visible .Main {
  right: 320px;
}
