/*------------------------------------*\
    #COMPONENTS: MAILING-LIST
\*------------------------------------*/


/**
 * Component Block
 */

//.Newsletter {}


.NewsletterForm {
  display: flex;
  flex-direction: column;
}


@include breakpoint(md) {
  .NewsletterForm {
    flex-direction: row;
    align-items: end;
    gap: 1rem;
  }


  .NewsletterForm-field {
    flex: 1;
  }
}