/*------------------------------------*\
    #COMPONENTS: MAILING-LIST
\*------------------------------------*/


/**
 * Component Block
 */

//.Newsletter {}

.Newsletter-title {
  @include margin-top(0);
}

.NewsletterForm {
  display: flex;
  flex-direction: column;
}

.NewsletterForm-label {
  @include margin-bottom(0.5);
}

.NewsletterForm-input {
  @include margin-top(0.3);
  @include margin-bottom(0.5);
}

.NewsletterForm-button {
  flex-grow: 1;
  @include margin-top(0.5);
}


@include breakpoint(md) {
  .NewsletterForm {
    flex-direction: row;
  }

  .NewsletterForm-input {
    @include margin-top(0.3);
    margin-right: 16px;
  }

  .NewsletterForm-field {
    flex: 1;
    flex-grow: 2;
    margin-top: 0;
    margin-right: 16px;
  }

  .NewsletterForm-button {
    margin-top: 42px;
  }
}
