/*------------------------------------*\
    #COMPONENTS: HEADER
\*------------------------------------*/


/**
 * Component Block
 */

.Header {}

.Header-nav {
  display: none;
}

@include breakpoint(sm) {
  .Header-nav {
    display: block
  }
}

.Header-link {
  display: inline;
  margin-left: 16px;
}