/*------------------------------------*\
    #COMPONENTS: NEWSLETTER
\*------------------------------------*/


/**
 * Component Block
 */


.Newsletter {
  display: flex;
  flex-direction: column;
}


@include breakpoint(md) {
  .Newsletter {
    flex-direction: row;
    align-items: end;
    gap: 1rem;
  }


  .Newsletter-field {
    flex: 1;
  }
}