{{ define "main" }}

  <header class="Hero">
    <h1>{{ .Title }}</h1>
  </header>

  <section class="PostList Grid Grid--3">
    {{ range .Data.Pages }}
      <article class="PostListItem">
        <a href="{{ .Permalink }}">
          <figure class="PostListItem-image">
            <div class="PostListItem-imageRatio">
              <img
                data-src="{{ .Site.Params.cloudinary_url }}/w_auto,dpr_auto,c_scale/{{ .Params.listimage }}"
                class="lazyload">
            </div>
          </figure>
          <h3 class="PostListItem-title">{{ .Title }}</h3>
        </a>
      </article>
    {{ end }}
  </section>

{{ end }}
