.grid {
 display: grid;
 grid-template-columns: 1fr;
 grid-template-rows: auto;
 grid-gap: 20px;
}

@include breakpoint(sm) {
 .grid {
  grid-template-columns: 1fr 1fr;
 }
}

@include breakpoint(ml) {
 .grid {
  grid-template-columns: 1fr 1fr 1fr;
 }
}